/* You can add global styles to this file, and also import other style files */

.graphiql-explorer-root > div > div > div {
    &:first-child, &:last-child {
        display: none;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.graphiql-session-header {
    display: none
}

.graphiql-container .graphiql-session-header {
    display: none !important;
}